apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: servicemesh-operator
  namespace: openshift-operators
spec:
  channel: stable 
  name: servicemeshoperator
  source: redhat-operators 
  sourceNamespace: openshift-marketplace 
